@font-face {
    font-family: 'droid_serifregular';
    src: url('./font/droidserif-regular-webfont.woff') format('woff2'),
         url('./font/droidserif-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body {
  height: 100%;
}
body {
  background-color: #fcf3e9;
  font-family: 'droid_serifregular', Arial, Helvetica, sans-serif;
  color: #392113;
  position: relative;
}
.part-title {
  margin: 30px 0;
  padding-bottom: 10px;
  font-size: 2.5em;
  color: #392113;
  border-bottom: 3px solid #a8b39d;
}
@media screen and (max-width: 1250px) {
  .part-title {
    font-size: 2.3em;
  }
}
@media screen and (max-width: 768px)  {
  .part-title {
    font-size: 2em;
  }
}

#presentation:before, #skills:before, #career:before, #realisations:before {
  display: block;
  content: "";
  height: 75px;
}
@media screen and (max-width: 980px) {
  #presentation:before, #skills:before, #career:before, #realisations:before {
    height: 45px;
  }
}

/*Welcome page*/
header {
  margin: 0 0;
  padding: 0 0;
}
.header-picture {
  height: 100%;
  background: url(images/laptop-2055522_1920.jpg) no-repeat fixed;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}
.header-text {
  position: relative;
  height: 180px;
  top: 160px;
  text-align: left;
  color: #fcf3e9;
  display: inline;
}
.header-paragraph {
  font-size: 2em;
  margin: 0;
}
.header-name {
  font-size: 3em;
}
.header-text-color {
  cursor: default;
  transition: color 0.4s;
}
@media screen and (max-width: 1100px)  {
  .header-name {
    font-size: 2.8em;
  }
}
@media screen and (max-width: 768px) {
  .header-name {
    font-size: 2.3em;
  }
  .header-paragraph {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 530px) {
  .header-name {
    font-size: 1.9em;
  }
  .header-paragraph {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 440px) {
  .header-name {
    font-size: 1.3em;
  }
  .header-paragraph {
    font-size: 1.1em;
  }
}

/*Navigation*/
#navigation {
  z-index: 99;
  background-color: #a8b39d;
}
.nav-wrapper {
  height: 100px;
}
.navbar { 
  justify-content: space-evenly;
  height: 100px;
}
.navbar-brand {
  color:  #392113 !important; 
  font-size: 2em; 
}
li { 
  text-align: center;
}
.nav-link {
  font-size: 1.1em;
  color:  #392113 !important;
  background-color: #a8b39d;
  transition: color 0.6s;
}
.nav-link:hover {
  color: #fcf3e9 !important;
}
nav a.active {
  color: #fcf3e9;
}
.sticky {/*created with js*/
  position: fixed;
  top: 0;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .navbar {
    height: auto;
  }
  .navbar-brand {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 568px) {
  .navbar-brand {
    font-size: 1.5em;
  }
}


/*Presentation*/
#presentation {
  padding-bottom: 80px;
}
.presentation-paragraph {
  padding: 8px 50px;
  text-align: justify;
  text-indent: 70px;
  font-size: 1.2em;
}
.presentation-picture {
  width: 160px;
  height: 160px;
  border-radius: 5px;
  box-shadow: 8px 8px 12px #a8b39d;
  float: right;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 50px;
  background: url(images/PhotoEmilie.jpg)  no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  #presentation {
    padding-bottom: 40px;
  }
  .presentation-paragraph {
    padding: 8px 5px;
    font-size: 1em;
  }
  .presentation-picture {
    width: 140px;
    height: 140px;
    margin-left: 20px;
    margin-right: 5px;
  }
}

/*Skills*/
#skills {
  background-color: #f8e8d3;
  padding-bottom: 80px;
}
.skills-details {
  width: 80%;
  text-align: center;
  margin: 5% 10%;
}
.skills-paragraph {
  margin-bottom: 10px;
}
.progress {
  margin: 0 10%;
  margin-bottom: 20px;
  width: 80%;
  height: 8px;
  background-color: #fcf3e9;
  border-radius: 20px;
}
.progress-bar {
  background-color: #a8b39d;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  #skills {
    padding-bottom: 40px;
  }
  .skills-details {
    width: 100%;
    margin: 0 0;
  }
  .progress {
    height: 6px;
  }
}
@media screen and (max-width: 576px) {
  #skills {
    padding-bottom: 50px;
  }
}

/*Timeline*/
#career {
  padding-bottom: 80px;
}
.timeline:before {
  content: ' ';
  background: #a8b39d;
  display: inline-block;
  position: absolute;
  left: 10px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
.timeline {
  position: relative;
  margin-left: 50px;
  z-index: 0;
}
.timeline-box {
  margin: 20px 40px;
  padding: 5px 10px;
}
.timeline-box:before {
  content: ' ';
  background:#a8b39d;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #a8b39d;
  left: 1px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
.timeline-box-details {
  margin: 20px 10px;
  padding: 5px 10px;
  background-color:  #f8e8d3;
  border-radius: 6px;
}
.timeline-box-details-date {
  font-size: 1.2em;
  margin-bottom: 5px;
}
.timeline-box-details-title {
  font-size: 1.5em;
}
.timeline-box-details-content {
  text-align: justify; 
}
@media screen and (max-width: 768px) {
  #career {
    padding-bottom: 40px;
  }
  .timeline-box-details-date {
    font-size: 1em;
  }
  .timeline-box-details-title {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 576px) {
  .timeline-box-details-content {
    display: none;
  }
}

/*Realisation*/
#realisations {
  background-color: #f8e8d3;
  padding-bottom: 120px;
}
.card-deck {
  display: flex;
}
.card {
  width: auto;
  height: auto;
  margin: 30px 30px;
  text-align: center;
  border-radius: 5px;
}
.card:hover .card-body {
  visibility: visible;
}
.card-title {
  font-size: 1.3em;
  padding: 10px 0;
  text-align: center;
  
}
.go-to-site {
  background-color: #f8e8d3 !important;
}
.card-body {
  border-radius: 5px;
  height: 230px;
  background-color: #a8b39d;
  color: #392113 !important;
  cursor: pointer;
  visibility: hidden;
  opacity: 0.9;
}
.project {
  border-radius: 5px;
  height: 230px;
}
.first-project {
  background: url(./images/ohmyfood\ \(1\).png) no-repeat;
  background-size: contain;
  background-position: center;
}
.second-project {
  background: url(./images/orioak.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.third-project {
  background: url(./images/groupomania.png) no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 768px) {
  #realisations {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 550px) {
  #realisations {
    padding-bottom: 50px;
  }
}

/*Footer*/
#contact {
  background-color: #a8b39d;
  line-height: 50px;
}
.contact {
  text-align: center;
}
.footer-title {
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 2.8em;
}
.contact-content {
  margin-bottom: 0;
  color: black;
}
.contact-icon {
  width: 40px;
  height: 40px;
  margin-top: 15px;

}
.links {
  color: black;
  text-decoration: none;
}
.links:hover {
  color: black;
}
.mailto {
  color: black;
}
.mailto:hover {
  color: black;
}
.cursor {
  cursor: default;
}
@media screen and (max-width: 993px) {
  .contact {
    padding: 30px 0;
  }
  .contact-content {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 760px) {
  .contact {
    padding: 20px 0;
  }
  .contact-content {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 350px) {
  .contact-content {
    font-size: 0.6em;
  }
}